<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/itemoperations/ItemOperations.js"></script>
		<script type="text/javascript" src="../../js/common/MainTemplate.js"></script>
		<script type="text/javascript" src="../../js/itemoperations/ItemForm.js"></script>
		<script type="text/javascript" src="../../js/itemoperations/ExpenseItemOperations.js"></script>
		<script type="text/javascript" src="../../js/itemoperations/ItemCommons.js"></script>
		
		
		<style type="text/css">
			@import "../../themes/tema.css";
			@import "../../themes/bootstrap.min.css";
			@import "../../themes/simple-sidebar.css";
		</style>
	</head>
	
	<body>
		
	</body>
	
</html>
