<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/ButceTakip/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/ItemOperations.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MenuButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/LogoutButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MainTemplate.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/AuthenticationChecker.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/ItemForm.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/ExpenseItemOperations.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/ItemCommons.js"></script>

		<script type="text/javascript">
			var authenticationCheckerObj = new AuthenticationChecker();
			authenticationCheckerObj.checkStatus();
		</script>

		<style type="text/css">
		@import "/ButceTakip/themes/tema.css";
		@import "/ButceTakip/themes/bootstrap.min.css";
		@import "/ButceTakip/themes/mainTemplate.css";
		</style>
	</head>

	<body>

	</body>

</html>
