<!-- extends CrudItemQueryPanel.html -->

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="resourceQueryResourceItemLabel">Varlık Kalemi</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="resourceQueryResourceItemSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="resourceQueryPeriodLabel">Dönem</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="resourceQueryPeriodSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="resourceQueryAmountMinLabel">Miktar Min</label>
  </div>
  <div class="col-md-5">
    <input id="resourceQueryAmountMinIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="resourceQueryAmountMinDecimalPartTextField" class="form-control" type="text">
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="resourceQueryAmountMaxLabel">Miktar Max</label>
  </div>
  <div class="col-md-5">
    <input id="resourceQueryAmountMaxIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="resourceQueryAmountMaxDecimalPartTextField" class="form-control" type="text">
  </div>
</div>
