#pageContent{
  height: 100%;
}

#periodQueryDiv{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
  margin-top: 10px;
}

#periodBottomDiv{
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: white;
  margin-top: 10px;
  padding-top: 10px;
}

#periodResultTable{
  margin-top: 5px;
}

#showPeriodQueryPanelButton{
  margin-bottom: 10px;
}

.queryFormElement{
  margin-top: 15px;
  margin-bottom: 15px;
}

.hiddenElement{
  display: none;
}
