
<form class="form-horizontal">
  <div class="form-group">
    <label for="addPeriodNameTextField" class="col-md-3 form-control-label">Ad:</label>
    <div class="col-md-9">
      <input type="text" class="form-control" id="addPeriodNameTextField">
    </div>
  </div>
  <div class="form-group">
    <label for="addPeriodBeginDatePicker" class="col-md-3 form-control-label">Baslangic Tarihi:</label>
    <div class="col-md-9">
      <div class="date input-group" id='addPeriodBeginDatePicker'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="addPeriodEndDatePicker" class="col-md-3 form-control-label">Bitis Tarihi:</label>
    <div class="col-md-9">
      <div class="date input-group" id='addPeriodEndDatePicker'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
  </div>
</form>
