<!-- extends CrudItemQueryPanel.html -->

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="periodNameLabel">Ad</label>
  </div>
  <div class="col-md-8">
    <input id="periodNameQueryTextField" class="form-control" type="text">
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="periodBeginDateTxt">Baslangic Tarihi</label>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodBeginDateTimePicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodBeginDateTimePicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="periodEndDateTxt">Bitis Tarihi</label>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodEndDateTimePicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodEndDateTimePicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
</div>
