<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="periodBeginDateTxt">Baslangic Tarihi</label>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodBeginDateTimePicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodBeginDateTimePicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="periodEndDateTxt">Bitis Tarihi</label>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodEndDateTimePicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="date input-group" id='periodEndDateTimePicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-offset-5 col-md-1">
    <button id="periodQueryButton" type="button" class="btn btn-primary">Sorgula</button>
  </div>

  <div class="col-md-1">
    <button id="periodQueryCleanButton" type="button" class="btn btn-danger">Temizle</button>
  </div>

  <div class="col-md-offset-4 col-md-1">
    <button id="hidePeriodQueryPanelButton" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-open"></span>
    </button>
  </div>

</div>

<div class="row">
  <div class="col-md-offset-5 col-md-1">
    <button id="showPeriodQueryPanelButton" type="button" class="btn btn-default hiddenElement">
      <span class="glyphicon glyphicon-save"></span> Sorgu Kriterlerini Göster
    </button>
  </div>
</div>
