<!-- extends CrudItemQueryPanel.html -->

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="incomeQueryIncomeItemLabel">Gelir Kalemi</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="incomeQueryIncomeItemSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="incomeQueryPeriodLabel">Dönem</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="incomeQueryPeriodSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="incomeQueryAmountMinLabel">Miktar Min</label>
  </div>
  <div class="col-md-5">
    <input id="incomeQueryAmountMinIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="incomeQueryAmountMinDecimalPartTextField" class="form-control" type="text">
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="incomeQueryAmountMaxLabel">Miktar Max</label>
  </div>
  <div class="col-md-5">
    <input id="incomeQueryAmountMaxIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="incomeQueryAmountMaxDecimalPartTextField" class="form-control" type="text">
  </div>
</div>
