<div class="container">
	<div id="loginFormWrapper" class="row">
		<div id="loginFormDiv" class="col-md-offset-4 col-md-4">
			<div class="form-group row">
				<label id="userNameLabel" class="col-md-2 col-form-label">Kullanıcı Adı</label>
				<div class="col-md-10">
				  <input type="text" class="form-control" id="usernameInput"></input>
				</div>
			</div>
			<div class="form-group row">
				<label id="passwordLabel" class="col-md-2 col-form-label">Şifre</label>
				<div class="col-md-10">
				  <input type="password" class="form-control" id="passwordInput"></input>
				</div>
			</div>
			<div class="form-group row">
			  <div class="col-sm-offset-2 col-md-7">
				<button id="loginButton" type="submit" class="btn btn-primary">Oturum Aç</button>
			  </div>
			</div>		
		</div>
	</div>
</div>
