<div id="sideBarDiv" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/ButceTakip/views/itemoperations/ResourceItemOperations.html"> Varlık Kalemi Islemleri</a>
            </li>
            <li>
                <a href="tables.html"> Gelir Kalemi Islemleri</a>
            </li>
            <li>
                <a href="forms.html"> Gider Kalemi Islemleri</a>
            </li>
            <li>
                <a href="forms.html"> Varlık Islemleri</a>
            </li>
            <li>
                <a href="forms.html"> Gelir Islemleri</a>
            </li>
            <li>
                <a href="forms.html"> Gider Islemleri</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
