
<div id="sideMenuWrapper">

		<a href="/ButceTakip/views/itemoperations/resourceitem/ResourceItemOperations.html">Varlik Kalemi Islemleri</a>

		<a href="/ButceTakip/views/itemoperations/incomeitem/IncomeItemOperations.html">Gelir Kalemi Islemleri</a>

		<a href="/ButceTakip/views/itemoperations/expenseitem/ExpenseItemOperations.html">Gider Kalemi Islemleri</a>

		<a href="#">Varlik Islemleri</a>

		<a href="#">Gelir Islemleri</a>

		<a href="#">Gider Islemleri</a>

		<a href="/ButceTakip/views/periodoperations/PeriodOperations.html">Donem Islemleri</a>
</div>
