
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li>
			<a href="/ButceTakip/views/itemoperations/ResourceItemOperations.html">Varlik Kalemi Islemleri</a>
		</li>
		<li>
			<a href="/ButceTakip/views/itemoperations/IncomeItemOperations.html">Gelir Kalemi Islemleri</a>
		</li>
		<li>
			<a href="/ButceTakip/views/itemoperations/ExpenseItemOperations.html">Gider Kalemi Islemleri</a>
		</li>
		<li>
			<a href="#">Varlik Islemleri</a>
		</li>
		<li>
			<a href="#">Gelir Islemleri</a>
		</li>
		<li>
			<a href="#">Gider Islemleri</a>
		</li>
	</ul>
</div>
