
<div id="sideMenuWrapper">

		<a href="/ButceTakip/views/itemoperations/resourceitem/ResourceItemOperations.html">Varlik Kalemi Islemleri</a>

		<a href="/ButceTakip/views/itemoperations/incomeitem/IncomeItemOperations.html">Gelir Kalemi Islemleri</a>

		<a href="/ButceTakip/views/itemoperations/expenseitem/ExpenseItemOperations.html">Gider Kalemi Islemleri</a>

		<a href="/ButceTakip/views/iteminstanceoperations/resource/ResourceOperations.html">Varlik Islemleri</a>

		<a href="/ButceTakip/views/iteminstanceoperations/income/IncomeOperations.html">Gelir Islemleri</a>

		<a href="/ButceTakip/views/iteminstanceoperations/expense/ExpenseOperations.html">Gider Islemleri</a>

		<a href="/ButceTakip/views/periodoperations/PeriodOperations.html">Donem Islemleri</a>
</div>
