<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/ButceTakip/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/moment.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MenuButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/LogoutButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MainTemplate.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/AuthenticationChecker.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/Utils.js"></script>

		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/IncomeItemOperations.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/IncomeItemQueryPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/IncomeItemResultPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/IncomeItemBottomPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/modals/NewIncomeItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/modals/DeleteIncomeItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/modals/UpdateIncomeItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/itemoperations/incomeitem/tablegenerator/IncomeItemTableGenerator.js"></script>

    <script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemPageLoader.js"></script>
    <script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemQueryPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemResultPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemBottomPanel.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemRetriever.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemTableGenerator.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/modals/NewCrudItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/modals/DeleteCrudItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/modals/UpdateCrudItemModal.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/actions/SaveCrudItemAction.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/actions/DeleteCrudItemAction.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/actions/UpdateCrudItemAction.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css"/>

		<script type="text/javascript">
	  	var authenticationCheckerObj = new AuthenticationChecker();
			authenticationCheckerObj.checkStatus();
		</script>

		<style type="text/css">
			@import "/ButceTakip/themes/bootstrap.min.css";
			@import "/ButceTakip/themes/mainTemplate.css";
			@import "/ButceTakip/themes/common/common.css";
			@import "/ButceTakip/themes/common/queryPanelTheme.css";
			@import "/ButceTakip/themes/common/resultPanelTheme.css";
			@import "/ButceTakip/themes/common/bottomPanelTheme.css";
		</style>
	</head>

	<body>

	</body>

</html>
