.hiddenDiv{
  visibility: hidden;
}

#pageContent{
  height: 100%;
}

#headerMenuDiv{
  display: none;
}

#loginUpperSpace{
  height: 20%;
}

#loginBottomSpace{
  height: 20%;
}

#loginFormContainer{
  height: 60%;
}

#loginButton{
  text-align: center;
  background-color: #FF6600;
}

#logo-container{
  margin: auto;
  margin-bottom: 35px;
  width:287px;
  height:120px;
  background-image:url("/ButceTakip/images/logo.png");
}
