#wrapper{
	background-color:#4a4b4c;
}

#navPart{
	background-color:#4a4b4c;
}

#sideBarDiv{
	background-color:#4a4b4c;
}

#title{
	color: #db621c;
	font-size: 24px;
}

.nav > li > a{
	color: #db621c;
	font-size: 18px;
}


.vurgulu{
	background-color: #f2923e;
}

#formDiv{
	margin-top:100px;
}

#itemForm{
	padding-top:15px;
}

#itemTableDiv{
	padding-top:15px;
}

#loginFormDiv{
	margin-right:15px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	border-style: solid;
	border-radius: 30px;
	border-color: #4a4b4c;
	border-width: 5px;
}

#loginFormWrapper{

}
