
.vurgulu{
	background-color: #f2923e;
}

#title{
	width: 100%;
	background-color: #4a4b4c;
	color:#db621c;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

#title{
	color:#db621c;
}

#formDiv{
	margin-top:100px;
}

#itemForm{
	padding-top:15px;
}

#sideMenuDiv{
	padding-right:0px;
}

#itemTableDiv{
	padding-top:15px;
}

#toolBar{
	background-color: #4a4b4c;
}

#menu-toggle{
	color:#db621c;
	text-decoration:none;
}
