<!-- extends CrudItemQueryPanel.html -->

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="expenseQueryExpenseItemLabel">Gider Kalemi</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="expenseQueryExpenseItemSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="expenseQueryPeriodLabel">Dönem</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" id="expenseQueryPeriodSelect">

    </select>
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="expenseQueryAmountMinLabel">Miktar Min</label>
  </div>
  <div class="col-md-5">
    <input id="expenseQueryAmountMinIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="expenseQueryAmountMinDecimalPartTextField" class="form-control" type="text">
  </div>
</div>

<div class="row queryFormElement">
  <div class="col-md-3">
    <label id="expenseQueryAmountMaxLabel">Miktar Max</label>
  </div>
  <div class="col-md-5">
    <input id="expenseQueryAmountMaxIntegerPartTextField" class="form-control" type="text">
  </div>
  <div class="col-md-1">
    <label>,</label>
  </div>
  <div class="col-md-2">
    <input id="expenseQueryAmountMaxDecimalPartTextField" class="form-control" type="text">
  </div>
</div>
