<div class="row">
    <div id="periodResourcesListDiv" class="col-md-5">
      <div id="periodResourcesTableLabelDiv" class="row">
        <label class="col-md-offset-4 col-md-4 form-control-label">Donem Varliklari</label>
      </div>
      <div id="periodResourcesTableDiv" class="row">
        <div id="periodResorcesTableArea" class="col-md-12"></div>
      </div>
    </div>
    <div id="periodResourcesCalculationDiv" class="col-md-5">
      <div id="periodResourcesCalculationLabelsDiv" class="row">
          <label class="col-md-offset-2 col-md-3 calculationLabel">Donem Sonu</label>
          <label class="col-md-offset-1 col-md-3 calculationLabel">Donem Basi</label>
      </div>
      <div id="periodResourcesCalculationLabelsDiv" class="row">
          <label id="periodEndAmountCalculationLabel" class="col-md-offset-2 col-md-3 calculationLabel ordinaryTextLikeLabel"></label>
          <label class="col-md-1 calculationLabel ordinaryTextLikeLabel"> - </label>
          <label id="periodBeginAmountCalculationLabel" class="col-md-3 calculationLabel ordinaryTextLikeLabel"></label>
          <label class="col-md-1 calculationLabel ordinaryTextLikeLabel"> = </label>
          <label id="periodDifferenceAmountCalculationLabel" class="col-md-2 calculationLabel ordinaryTextLikeLabel"></label>
      </div>
    </div>
</div>
