
<form class="form-horizontal standartTopMargin">
  <div class="form-group">
    <label class=" col-md-offset-3 col-md-2 form-control-label">Ad:</label>
    <label id="periodDetailNameTextField" class="col-md-3 form-control-label ordinaryTextLikeLabel"></label>
  </div>
  <div class="form-group">
    <label class="col-md-offset-3 col-md-2 form-control-label">Baslangic Tarihi:</label>
    <label id="periodDetailBeginDatePicker" class="col-md-3 form-control-label ordinaryTextLikeLabel"></label>
  </div>
  <div class="form-group">
    <label class="col-md-offset-3 col-md-2 form-control-label">Bitis Tarihi:</label>
    <label id="periodDetailEndDatePicker" class="col-md-3 form-control-label ordinaryTextLikeLabel"></label>
  </div>
  <div class="form-group">
    <label class="col-md-offset-3 col-md-2 form-control-label">Baslangic Tutari:</label>
    <label id="periodDetailBeginAmountTextField" class="col-md-3 form-control-label ordinaryTextLikeLabel"></label>
  </div>
</form>
