<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/ButceTakip/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/moment.min.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MenuButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/LogoutButtonOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/MainTemplate.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/common/AuthenticationChecker.js"></script>

		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodDetailOperation.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodDetailInformationArea.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodResourcesArea.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodIncomesArea.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodExpensesArea.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/perioddetailoperation/PeriodDetailPageLoader.js"></script>

		<script type="text/javascript" src="/ButceTakip/js/iteminstanceoperations/resource/tablegenerator/ResourceIdAmountResItemTableGenerator.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/iteminstanceoperations/income/tablegenerator/IncomeIdAmountIncomeItemTableGenerator.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/iteminstanceoperations/expense/tablegenerator/ExpenseIdAmountExpenseItemTableGenerator.js"></script>

		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemTableGenerator.js"></script>
		<script type="text/javascript" src="/ButceTakip/js/crudcommons/CrudItemRetriever.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css"/>

		<script type="text/javascript">
	  	var authenticationCheckerObj = new AuthenticationChecker();
			authenticationCheckerObj.checkStatus();
		</script>

		<style type="text/css">
			@import "/ButceTakip/themes/bootstrap.min.css";
			@import "/ButceTakip/themes/mainTemplate.css";
			@import "/ButceTakip/themes/common/common.css";
			@import "/ButceTakip/themes/common/detailPanelTheme.css";
			@import "/ButceTakip/themes/perioddetailoperation/periodDetailTheme.css";
		</style>
	</head>

	<body>

	</body>

</html>
