<div class="row">
    <div id="periodKnownExpensesListDiv" class="col-md-5">
      <div id="periodKnownExpensesTableLabelDiv" class="row">
        <label class="col-md-offset-4 col-md-6 form-control-label">Donemin Bilinen Giderleri</label>
      </div>
      <div id="periodKnownExpensesTableDiv" class="row">
        <div id="periodKnownExpensesTableArea" class="col-md-12"></div>
      </div>
      <div id="periodKnownExpensesTotalDiv" class="row">
        <label class="col-md-5 form-control-label">Bilinen Giderleri Toplamı</label>
        <label id="periodKnownExpensesTotalLabel" class="col-md-offset-1 col-md-5 form-control-label ordinaryTextLikeLabel"></label>
      </div>
    </div>
    <div id="periodExpensesTotalDiv" class="col-md-5">
      <div id="periodExpensesTotalLabelDiv" class="row">
          <label class="col-md-offset-2 col-md-6 calculationLabel">Doneme Ait Toplam Gider</label>
      </div>
      <div id="periodExpensesCalculationLabelsDiv" class="row">
          <label id="periodExpensesTotalIncomeCalculationLabel" class="col-md-offset-2 col-md-3 calculationLabel ordinaryTextLikeLabel"></label>
          <label class="col-md-1 calculationLabel ordinaryTextLikeLabel"> - </label>
          <label id="periodExpensesResourceBeginEndDifCalculationLabel" class="col-md-3 calculationLabel ordinaryTextLikeLabel"></label>
          <label class="col-md-1 calculationLabel ordinaryTextLikeLabel"> = </label>
          <label id="periodExpensesTotalExpensesCalculationLabel" class="col-md-2 calculationLabel ordinaryTextLikeLabel"></label>
      </div>
    </div>
</div>
