<div class="row">
    <div id="periodIncomesListDiv" class="col-md-5">
      <div id="periodIncomesTableLabelDiv" class="row">
        <label class="col-md-offset-4 col-md-4 form-control-label">Donem Gelirleri</label>
      </div>
      <div id="periodIncomesTableDiv" class="row">
        <div id="periodIncomesTableArea" class="col-md-12"></div>
      </div>
    </div>
    <div id="periodIncomesTotalDiv" class="col-md-5">
      <div id="periodIncomesTotalLabelDiv" class="row">
          <label class="col-md-offset-2 col-md-6 calculationLabel">Doneme Ait Toplam Gelir</label>
      </div>
      <div id="periodIncomesTotalResultDiv" class="row">
          <label id="periodIncomesTotalResultLabel" class="col-md-offset-2 col-md-3 calculationLabel ordinaryTextLikeLabel"></label>
      </div>
    </div>
</div>
